//colors
$white-color:#fff;
$primary-color:#48AD7E;
$darker-primary-color:#2D6A4F;
$black-color: #081C15;
$light-primary:#99D6B5;
$yellow-color:#B69121;
$gray: #6b6b6b;
$text-color: #ebebeb;
$text-color-headers: #444;
$header-color: rgba(15, 23, 39, 0.85);
$text-color-light: rgba(15, 23, 39, 0.45);

h1{
    color: $header-color;
    font-size: 3.2rem;
}

h2,h3{
    color: $text-color-headers  ;
}

.error {
    color: red;
}
:root{
    background-color: $white-color;
}

body{
    height: 100vh;
}

*{
    margin: 0;
}

main{
    margin-top: 70px ;
    
}

.active{
    color: $primary-color !important;
}

%box-shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}





@mixin button-style(){
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #48AD7E;
    transition: all 0.2s ease;
    cursor: pointer;
    a{
        color: #fff;
    }

  &:hover{
    background-color: #2D6A4F;
  }
}
@mixin flex-row (){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
}

@mixin flex-column (){
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 100; 
    background-color: #fff; 
    margin-bottom: 100px;

    @extend %box-shadow;
}



.navlist{
    @include flex-row();
    justify-content: space-between;
    list-style: none;
    align-items: center;
    

    padding: 0.4rem 1rem;
   
    img{
        height: 2.5rem;
        width: 120px;
        margin-left: 1rem;
    }
    
    a{
        &:hover{
            color: $primary-color;
        }
    }

.navlinks{
    @include flex-row();
    justify-self: center !important;
    gap: 3rem;
}
}
#login{
    background-color: $primary-color !important; 
    color: white;
    transition: all 0.3s ease;
    &:hover{
    background-color: $darker-primary-color !important
    }
 }

.section-container{
    @include flex-column();
    align-items: center;
    background-color: $text-color;
    text-align: center;
    padding:3rem;
    height: fit-content;
    margin: 3rem 5rem;
    border-radius: 15px;

    h1{
        color: $header-color !important; 
        font-size: 2rem; 
    }
    p{
        color: $text-color-light;
        font-size: 1.2rem;
    }
    .gold-line {
        display: inline-block; /* Omogućava kontrolisanu širinu */
        width: 60px; 
        height: 5px; 
        background-color: $yellow-color; 
        border-radius: 2px; 
        margin: 0 auto; 
    }

    @media screen  and (max-width: 1050px){ 
        gap: 30px;
        margin: 3rem 0;
        
        
    }
}

.section-container-h1-p{
    width: 65%;
    margin: 2rem 0;
}

.section-container-items{
    @include flex-row();
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section-container-item{
    @include flex-column();
    background-color: $text-color;
    width: 400px;
    height: 300px;
   align-items: center;
}

.section-container-item-icon{
    display: flex;
    height: 70px;
    width: 70px;
    background-color: #48AD7E;
    border-radius: 50%;
    align-items: center;
justify-content: center;    
}


.section-container-item-text{
   width: 80%;
   p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: $gray;
    width: 100%;
  }
h2{
    color: $header-color; 
}
}

.section-container-image {
    position: relative;
    cursor: pointer;
    width: 350px;
    height: 350px; 
    overflow: hidden;
    border-radius: 15px;
    margin: 1rem;
    transition: all 0.3s ease;
    &:hover{
        transform: scale(1.05);
        .text-overlay{
            color: $yellow-color !important;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
        }
       
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3); /* Zatamnjivanje sa 40% crne boje */
        z-index: 1; /* Overlay će biti iznad slike */
    }
}

.section-container-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    
}

.text-overlay {
    position: absolute;
    color: white !important; 
    font-size: 2rem; 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7) !important; /* Dodavanje senke za bolju čitljivost */
    text-align: center;
    bottom: 5%;
    left: 10%;
    transition: all 0.3s ease; 
    z-index: 2;
}

/*Car Component*/
.container-car{
    // place-items: center;
p, span ul, li, label,h2{
    color: black;
}

h2 span{
    color: $gray;
}
.container-car-upper{
    @include flex-row();
    justify-content: center;
    align-items: center;
    gap:2rem;
}

.container-car-calendar{
    @include flex-column();
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin-bottom: 2rem;
}

#price {
    p{
        color: #48AD7E;
        font-size:1.5rem;
    }
    
    padding: 5px 10px;
    @extend %box-shadow;
    border-radius: 15px;
    width: 160px;
    text-align: center;
}

.car-name-company-name{
    @include flex-row();
    justify-content: space-between;
    margin: 0 0.7rem 0.3rem 0.7rem
}

}



.button{
    @include button-style();
}

.company-name{
    background-color: $yellow-color;
    width: fit-content;
    border-radius: 20px;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: $white-color;
    font-weight: 500;
}

.container-car-data{
    @include flex-column();
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    background-color: $text-color;
    border-radius: 15px;
    width: 40%;
    gap: 1.2rem;
    padding: 1.5rem;
    margin: 2rem auto;

    .content{
        @include flex-row();
        justify-content: space-around;
        gap: 2rem;
        hr{
            margin: 0 0rem 0.5rem 0;
        }
        svg{
            margin-right: 3px;
        }
        .features-list{
            list-style: none;
            padding: 0;
        }

       
    }
    @media screen and (max-width : 1050px) {
        align-items: center;
        .content{
            justify-content: center;
            
        }
    } 
}

.calendar-wrapper button{
    border-radius: 0;
}


    .icon{
        color: $gray !important;
    }

    .container-category {
        @include flex-row();
        justify-content: center;
        gap: 1rem;
        background-color: $text-color;
        border-radius: 15px;
        width: fit-content;
        margin: 0 auto;
        @extend %box-shadow;
    
        .category {
            position: relative;
            padding: 0.4rem;
            border-radius: 15px;
            cursor: pointer;
            transition: all 0.3s ease;
    
            &:hover {
                background-color: #fff;
            }
    
            &.active {
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0; 
                    left: 0;
                    width: 100%; 
                    height: 3px; 
                    background-color: $primary-color; 
                    border-radius: 3px;
                }
            }
        }
    }
    



