//colors
$white-color:#fff;
$primary-color:#48AD7E;
$darker-primary-color:#2D6A4F;
$black-color: #081C15;
$light-primary:#99D6B5;
$yellow-color:#B69121;
$gray: #6b6b6b;
$text-color: #ebebeb;
$header-color: rgba(15, 23, 39, 0.85);
$text-color-light: rgba(15, 23, 39, 0.45);

h1{
    color: $header-color;
}

%box-shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

:root{
    background-color: $white-color;
}

body{
    height: 100vh;
}

*{
    margin: 0;
}

.active{
    color: $primary-color !important;
}

@mixin flex-row (){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
}

@mixin flex-column (){
    display: flex;
    flex-direction: column;
}

.navlist{
    @include flex-row();
    position: sticky;
    list-style: none;
    justify-content: space-around;
    @extend %box-shadow;
    img{
        height: 2.5rem;
        width: 120px;
    }
    padding: 1rem;
    a{
        &:hover{
            color: $primary-color;
        }
    }
}

.section-container{
    @include flex-column();
    align-items: center;
    background-color: $text-color;
    text-align: center;
    padding:3rem;
    height: fit-content;
    margin: 3rem 5rem;
    border-radius: 15px;

    h1{
        color: $header-color !important;
        border-top: 3px solid black;
    }
    p{
        color: $text-color-light;
        font-size: 1.2rem;
    }
}

.section-container-h1-p{
    width: 65%;
    margin: 2rem 0;
}

.section-container-items{
    @include flex-row();
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section-container-item{
    @include flex-column();
    background-color: $text-color;
    width: 400px;
    height: 300px;
   align-items: center;
}

.section-container-item-icon{
    height: 70px;
    width: 70px;
    background-color: #48AD7E;
    border-radius: 50%;
}


.section-container-item-text{
   width: 80%;
   p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: $gray;
    width: 100%;
  }
h2{
    color: $header-color; 
}
}

.section-container-image {
    position: relative;
    cursor: pointer;
    width: 350px;
    height: 350px; 
    overflow: hidden;
    border-radius: 15px;
    margin: 1rem;
    transition: all 0.3s ease;
    &:hover{
        transform: scale(1.05);
        .text-overlay{
            color: $yellow-color !important;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
        }
       
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3); /* Zatamnjivanje sa 40% crne boje */
        z-index: 1; /* Overlay će biti iznad slike */
    }
}

.section-container-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    
}

.text-overlay {
    position: absolute;
    color: white !important; 
    font-size: 2rem; 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7) !important; /* Dodavanje senke za bolju čitljivost */
    text-align: center;
    bottom: 5%;
    left: 10%;
    transition: all 0.3s ease; 
    z-index: 2;
}





//obrisati kasnije

    img{
        height: 300px;
        width: 500px;
    }


