//colors
$white-color:#fff;
$primary-color:#48AD7E;
$darker-primary-color:#2D6A4F;
$black-color: #081C15;
$light-primary:#99D6B5;
$yellow-color:#B69121;
$gray: #6b6b6b;
$text-color: #ebebeb;
$text-color-headers: #444;
$header-color: rgba(15, 23, 39, 0.85);
$text-color-light: rgba(15, 23, 39, 0.45);
$small-screen:768px;

h1{
    color: $header-color;
    font-size: 3.2rem;
}

.bold{
    font-weight: 500;
}

h2,h3, h4{
    color: $text-color-headers !important  ;
}

.error {color: $gray;
    color: red;
}
:root{
    background-color: $white-color;
}

body{
    height: 100vh;
}

*{
    margin: 0;
}


.active{
    color: $primary-color !important;
}

.no-scroll {
    overflow: hidden;
}

%box-shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.primary-color{
    color: #48AD7E;
    font-weight: bold;
}


.fit-content{
    width:fit-content;
    justify-self: center;
    height: fit-content;
}

.loader{
   
}
.loader-wrapper{
    display: flex;
    width: 60%;
    justify-content: center;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}


@mixin button-style(){
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #48AD7E;
    transition: all 0.2s ease;
    cursor: pointer;
    a{
        color: #fff;
    }

  &:hover{
    background-color: #2D6A4F;
  }
}


@mixin flex-row (){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
}

@mixin flex-column (){
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 100; 
    background-color: #fff; 
    margin-bottom: 100px; //obrisat
    @extend %box-shadow;
}



.navlist{
    @include flex-row();
    justify-content: space-between !important;
    list-style: none;
    align-items: center;
    padding: 0.4rem 1rem;
   
    img{
        height: 3rem;
        width: 120px;
        margin-left: 1rem;
        object-fit: contain;
    }
    
    a{
        &:hover{
            color: $primary-color;
        }
    }

.navlinks{
    @include flex-row();
    justify-self: center !important;
    gap: 3rem;
    margin-right: 50px;
    position: relative;
    @media (max-width: 768px) {
        display: none !important; // Sakrij desktop navigaciju na manjim ekranima
    }
}
@media (max-width: 768px) {
    &{
        height: 45px;
       
    }
    img{
        position: absolute;
        right: 1rem;
        top: 3.5px;
    }
}


.navlinks-button {
    @media (max-width: 768px) {
        display: none; // Sakrij desktop navigaciju na manjim ekranima
    }
}

.bm-menu-wrap {
    display: none;

    @media (max-width: 768px) {
        display: block; // Prikaži burger meni samo na manjim ekranima
    }
}


  
}
#login{
    background-color: $primary-color !important; 
    color: white;
    transition: all 0.3s ease;
    font-size: 0.8rem;
    &:hover{
    background-color: $darker-primary-color !important;
   
    }
 }

.section-container{
    @include flex-column();
    align-items: center;
    background-color: $text-color;
    text-align: center;
    padding:3rem;
    height: fit-content;
    margin: 3rem 5rem;
    border-radius: 15px;

    h1{
        color: $header-color !important; 
        font-size: 2rem; 
    }
    p{
        color: $text-color-light;
        font-size: 1.2rem;
    }
    .gold-line {
        display: inline-block; /* Omogućava kontrolisanu širinu */
        width: 60px; 
        height: 5px; 
        background-color: $darker-primary-color !important; 
        border-radius: 2px; 
        margin: 0 auto; 
    }

    @media screen  and (max-width: 1050px){ 
        gap: 30px;
        margin: 3rem 0; 
    }
}

.section-container-h1-p{
    width: 65%;
    margin: 2rem 0;
}

.section-container-items{
    @include flex-row();
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section-container-item{
    @include flex-column();
    background-color: $text-color;
    width: 400px;
    height: 300px;
   align-items: center;

   @media screen and (max-width:768px) {
    &{
        width: 350px;
    }
   }
}

.section-container-item-icon{
    display: flex;
    height: 70px;
    width: 70px;
    background-color: $darker-primary-color;
    border-radius: 50%;
    align-items: center;
justify-content: center;    
 svg{
    color: $white-color;
 }
}


.section-container-item-text{
   width: 80%;
   p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: $gray;
    width: 100%;
  }
h2{
    color: $header-color; 
}
}

.section-container-image {
    position: relative;
    cursor: pointer;
    width: 330px;
    height: 330px; 
    overflow: hidden;
    border-radius: 15px;
    margin: 1rem;
    transition: all 0.3s ease;
    &:hover{
        transform: scale(1.05);
        .text-overlay{
            color: $yellow-color !important;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
        }
       
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 130%;
        background-color: rgba(0, 0, 0, 0.3); /* Zatamnjivanje sa 40% crne boje */
        z-index: 1; /* Overlay će biti iznad slike */
    }
   
}


.section-container-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    
}

.text-overlay {
    position: absolute;
    color: white !important; 
    font-size: 2rem; 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7) !important; /* Dodavanje senke za bolju čitljivost */
    text-align: center;
    bottom: 5%;
    left: 10%;
    transition: all 0.3s ease; 
    z-index: 2;
}

/*Car Component*/
.container-car{
    margin-top: 90px;
    // place-items: center;
p, span ul, li, label,h2{
    color: black;
}

h2 span{
    color: $gray;
}
.container-car-upper{
    @include flex-row();
    justify-content: center;
    align-items: center;
    gap:2rem;
}

.container-car-calendar{
    @include flex-column();
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin-bottom: 2rem;
}

#price {
    p{
        color: #48AD7E;
        font-size:1.5rem;
    }
    
    padding: 5px 10px;
    @extend %box-shadow;
    border-radius: 15px;
    width: 160px;
    text-align: center;
}

.car-name-company-name{
    @include flex-row();
    justify-content: space-between;
    margin: 0 0.7rem 0.3rem 0.7rem
}

}
.button{
    @include button-style();
}

#to-reservation-page{
    width: 200px;
}

.company-name{
    background-color: $yellow-color;
    width: fit-content;
    border-radius: 20px;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: $white-color;
    font-weight: 500;
}

.map-container{
    height: auto;
    background-color: $text-color;
    border-radius: 15px;
    width: 40%;
    height: fit-content;
    gap: 1.2rem;
    padding: 1.5rem;
    margin: 2rem auto;
    text-align: center;

}
.car-info{
    width: 50%;
}

.container-car-data{
    @include flex-column();
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    background-color: $text-color;
    border-radius: 15px;
    gap: 1.2rem;
    padding: 1.5rem;
    margin: 2rem auto;

    .content{
        @include flex-row();
        justify-content: space-around;
        gap: 1rem;
        hr{
            margin: 0 0rem 0.5rem 0;
            color: lightgray;
        }
        svg{
            margin-right: 3px;
        }
        .features-list {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
        }

        .feature-item {
            background-color: #dcd4d4;
            padding: 6px 12px;
            border-radius: 5px;
            font-size: 14px;
            b{
                color: $darker-primary-color;
            }
        }
        
     .info-divider {
            border: 0;
            height: 1px;
            background: #d2cccc;
            margin: 10px 0;
        }

        .content-data{
            width: 250px;
        }

       
    }
    @media screen and (max-width : 1050px) {
        width: 80%;
        align-items: center;
        .content{
            justify-content: center;
            
        }
    } 
}

.picking-up{
text-align: center;
 width: 60%;

 @media screen and (max-width : 1050px) {
    width: 80%;
    align-items: center;
    .content{
        justify-content: center;
        
    }
} 
}



.calendar-wrapper button{
    border-radius: 0;
}


    .icon{
        color: $gray !important;
    }

    .container-category {
        @include flex-row();
        justify-content: center;
        gap: 1rem;
        background-color: $text-color;
        border-radius: 15px;
        width: fit-content;
        margin: 0 auto;
        @extend %box-shadow;
    
        .category {
            position: relative;
            user-select: none;
            padding: 0.4rem;
            border-radius: 15px;
            cursor: pointer;
            transition: all 0.3s ease;
    
            &:hover {
                background-color: #fff;
            }
    
            &.active {
                // background-color: #fff;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0; 
                    left: 0;
                    width: 100%; 
                    height: 3px; 
                    background-color: $primary-color; 
                    border-radius: 15px;
                }
            }
        }

        @media screen and (max-width:768px) {
            width: 250px;
            h3{
                font-size: 1rem
            }
        }
       
    }


.search-bar-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  

    .loader-wrapper{
        margin-top: 10px;
        .loader{
            height: 25px !important;
            width: 25px !important;
        }
        
    }
}

#search-bar{
    @include flex-row();
    justify-content: center;
    margin-top: 100px;
    gap: 1rem;
    input{
        width:150px ;
    }
    @media screen  and (max-width: 810px){ 
        &{
            justify-self: center;
            margin: 0 auto;
            max-width: 250px;
            margin-top: 90px;
        }

        .search-bar-icon{
            background-color: #48AD7E;
            width: 78%;
            margin-left: 0;
            border-radius: 15px;
            padding: 10px;
            text-align: center;
            svg{
                display: none;
            }

            &:hover{
                background-color: #2D6A4F;
        
            }
        }
        .search-bar-icon::before{
            content: 'Search';
            text-align: center;
            margin: 0 auto;
            
        }
    }
  
}

.search-bar-icon{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    padding: 20px;
    border-radius: 0.7rem;
    background-color: $text-color;
    transition: all 0.3s ease;
    svg{
        color: $text-color-headers !important;

    }

    &:hover{
        border-radius: 20px;
        background-color: $primary-color;
        svg{
            color:$text-color !important;
        }
    }
}

.mui-input{
    div{
        border-radius: 15px !important;
    }
    &.city{
        width: 205px;
    }
}
.time-pickers-container{
    @include flex-row();
    gap: 10px;
    .mui-time-picker{
        width: 170px;
    }
}


/*HERO HEADER STYLE*/

.hero-header-container{
    text-align: center;
    position: relative;
    text-align: center;
    margin-top: 100px;
   
   

    h1 {
        position: absolute;
        display: inline-block;
        left: 50%;
        top: 50%; /* Podešava vertikalnu poziciju */
        transform: translate(-50%, -50%); /* Pomeranje za pola svoje veličine za savršeno centriranje */
        margin: 0; /* Uklanja margine ako ih ima */
        color: $text-color !important;
    }

    @media screen and (max-width:810px) {
        h1{
            top: 35%;
            font-size: 2rem;
            width: 300px;
            
        }
    }
}


.hero-header-image{
   
    object-fit: cover;
    height: 200px;
    width: 90%;
    border-radius: 15px;
    }

.image-main-page{
    height: 400px;
    }


.overlay {
    position: absolute;
    bottom: -10%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    height: fit-content;
    padding: 10px 20px; 
    border-radius: 10px; 
    place-items: center;
    //dodato na laptop
    display: flex;
    justify-content: center;
    
    
    .search-bar{
        background-color: #fff;
        width: fit-content;
        padding: 10px;
        border-radius: 15px;
        
    }

    @media screen and (max-width:810px) {
        bottom: -30%; //menjati po zelji
    }


}

.container-car-cards{
    @include flex-row();
    gap: 2rem;
    // max-width: 1300px;
    justify-self: center;
    align-self: center;

   @media screen and (max-width:768px) {
    padding: 0;
    align-items: center;
    justify-content: center;
   }
}

.car-card{
    @include flex-row();
    max-width: 270px;
    height: 350px;
    @extend %box-shadow;
    border-radius: 30px;
    align-items: center;
    transition: all 0.3s ease;
    padding-bottom: 5px;
    position: relative;

   

    &:hover{
        transform: translateY(-5%); 

        h2{
            color: #48AD7E !important;
        }
    }
    
    div{
        width: 100%;
    }

    h2{
        text-align: center; //mozzila laptop
        justify-self: center;
    }

    .car-card-info{
        @include flex-row();
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap !important;
        gap: 1rem;
        width: 90%;
        margin: 0 30px;
    
       
        
        .info {
            display: flex;
            flex-direction: column; /* Poređuje elemente unutar sekcije vertikalno */
            gap: 0.4rem; /* Razmak između redova */
            
            p{
                display: inline-block;
            }
        }
        
       
         p {
            display: flex;
            align-items: center; /* Vertikalno centriranje ikone i teksta */
            font-size: 10px;
            color: $text-color-headers;
            font-size: 15px;
            
        }
          .icon {
            font-size: 0.8rem;
            color: #555; 
            height: 10px;
            width: 10px;
            margin-right: 5px;
          }

          .right{
          width: 50px;
          }

    }

    .car-card-image{
        position: relative;
        height: 60%;
        width: 100%;
        overflow: hidden;
        border-radius:15px; 
        .overlay {
            position: absolute; 
            top: 0;
            left: 0;
            height: 120%; 
            width: 100%;
            background-color: rgba(0, 0, 0, 0.3); 
            z-index: 2; 
            border-radius:15px;
          
        }
    
        img{
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
            @extend %box-shadow;
        }
    }

    p{
        color: $primary-color;
    }

    hr{
        color:#fffdfd;
        margin: 0 3rem;
    }


    .car-card-price{
      
        p{
            text-align: center; 
        }
    }

}
//---------------------------
.list-container {
    @include flex-column();
    @extend %box-shadow;
    list-style: none;
    display: block;
    text-align: left;
    background-color: $white-color;
    position: absolute;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    z-index: 1;
    left: 100px;
  
    li {
      color: $header-color;
      margin: 0.5rem 0;
      white-space: nowrap;
      a.active{
        color: $header-color !important;
    }
      &:hover {
        a{
            color: #48AD7E !important;

        }
      }
      
    }
  }


  //------------Footer styles------------
  footer {
    width: 100%;
    color: $text-color-light;
    margin-top: 3rem;
    
  

  
    hr {
      margin: 0 10%;
      border: 0;
      border-top: 1px solid $text-color-light;
    }
  
    .content {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; /* Omogućava prelamanje */
      padding: 20px 0;
      
  
      .footer-section {
        max-width: 20%;
        min-width: 250px; /* Minimalna širina za bolje prilagođavanje */
        margin: 10px 0;
        text-align: center;
  
        img {
          max-width: 200px;
          margin-bottom: 10px;
          height: 90px;
          object-fit: contain;
        }
  
        p {
          margin-bottom: 15px;
        }
  
        .links {
          display: flex;
          flex-direction: column;
          gap: 10px;
  
          a {
            color: $text-color-light;
            text-decoration: none;
  
            &:hover {
              color: $primary-color; 
            }
          }
        }
      }
    }
  
    @media (max-width: 960px) {
      .content {
        flex-direction: column;
        align-items: center;
        img {
            width: 230px;
            display: block; /* Uklanja inline padding/margine slike */
            margin: 0 auto; /* Centriranje slike horizontalno */

          }
      }
  
      .footer-section {
        max-width: 100%;

        
      }
  
      hr {
        margin: 20px 10%;
      }
    }
  }


  //********sidebar**********
  //dodati media screenovi za pocetak

  

 .sidebar{
    position: sticky;
    top: 55px;
    height: 500px;
    width: 200px;
    margin:0px 70px ;
    
    #filter-button{
        display: none;
        color: $text-color-headers;
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 2.5rem;
        #filter-button-text{
            margin-right: 5px;
        }
        @media screen and (max-width:768px) {
            display: inline-block;
            
       }
       img{
        height: 1rem;
        width: 1rem;
        
       }
    }

    label{
        color: $text-color-light;
    }
    @media screen and (max-width:768px) {
         position: static;
         place-items: center;
         margin-top: 50px;
         align-self: center;
         height: auto;
         width: auto;
         text-align: center;
         margin-left: 0;
         margin-right: 0;
    }
 }

 .sidebar-cars-list{
    display: flex;
    // justify-content: space-between;
    margin-top: 70px;

  

    @media screen and (max-width:768px) {
        flex-direction: column;
        place-items: center; //dodato
       
    }
 }

 .cars-list-error{
    @include flex-row();
    justify-content: center;
    margin: 0 20%;

    @media screen and (max-width:768px) {
        margin-top: 130px;
        margin: auto auto;
       
    }
 }


.filters-container{

    @media screen and (max-width:$small-screen) {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-bottom: 30px;
        justify-content: center;


    }
}




.MuiFormGroup-root:nth-of-type(2){

span:nth-of-type(2)::after{

    content: '';
    display: inline-block;
    width: 20px;
    height: 30px;
    background-image: url('/lugg.png');
    background-size: cover;
    background-position: center;
}
}


.go-back-container{
font-size: 1rem;

    &:hover{
        span{
            text-decoration: underline;
        }
    }
    
}


//****************ABOUT US******************
.about-us-container {
    width: fit-content;
    color: #444;
    font-weight: 600;
    max-width: 800px;
    margin: 0 auto;

    @media screen and (max-width:$small-screen) {
     padding: 15px;
          
    }

  
  .about-us ul,
  .politics-container ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
  }

  .about-us-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.about-us ul,
.policies ul,
.terms ul {
    list-style: none;
    padding: 0;
}

.about-us li,
.policies li,
.terms li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #2D6A4F;
    display: flex;
    align-items: center;
}

a:hover {
    text-decoration: underline;
}

.policy-link,
.terms-link {
    font-weight: bold;
    font-size: 16px;
}

.policy-link svg,
.terms-link svg {
    margin-left: 5px;
    font-size: 14px;
}
}

.policies, .terms{
max-width: 1000px;
margin:  0 auto;
padding: 10px;
h2{
    font-size: 1.3rem;
    color: #6b6b6b;
}
p{
    font-size: 1rem;
    margin-bottom: 1rem;
}
}


.dashboard{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 2rem;
   

}

#long-menu{
    .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
        width: fit-content !important;
    }

}

   


.icon{
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

#my-reservation-button{
    font-size: 14px;
}

.disabled {
   pointer-events: none;
    opacity: 0.5; // Čini div da izgleda "onemogućen"
    user-select: none; // Sprečava selektovanje teksta
   
  }

  .cursor-not-allowed{
    cursor: not-allowed;
  }

.row{
    position: relative;
    
}
.menu-long{
    position: absolute;
    left: 2%;
   
}
  

  
  