@use '../app/_variables.scss' as  *;

:root {
  --background: #ffffff;
  --foreground: #171717;
  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: $white-color;
}

h1{
  color: $header-color;
  font-size: 3.2rem;
}

.bold{
  font-weight: 500;
}

h2,h3, h4{
  color: $text-color-headers !important  ;
}

.error {
  color: red;
}

p{
  color: $text-color-light;
  color: $text-color-dark !important;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  place-items: center;
  margin-top: 5%;
 
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main{
  margin-top: 50px;
}

@media (prefers-color-scheme: system) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
nav{
  width: 100%;
 
}

.button{
 @include button-style(14px);
}



//HEADER

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 100; 
  background-color: #fff; 
  margin-bottom: 100px; //obrisat
  @extend %box-shadow;
}


/* Globalni stilovi za react-burger-menu */

.bm-burger-button {
    display: none;
    position: absolute;
    width: 30px;
    height: 24px;
    left: 20px;
    top: 10px;
    margin-top: 5px;
    
    @media (max-width: 768px) {
        display: block; 
    }
   
}

.bm-item-list{
    display: flex;
    flex-direction: column;
    gap:1rem;
   

    a{
        color: white ;
        font-weight: bold;
    }
}

.bm-burger-bars {
    background: #373a47;
    background: $primary-color;
    border-radius: 5px;
}

.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size:1.5em;
    padding-left: 20px;
    display: none;
    @media (max-width: 768px) {
      display: block; 
  }
}

.bm-menu-item {
    color: white ;
    text-decoration: none;
    margin-bottom: 10px;
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.bm-burger-bars {
  background: $primary-color; /* Normal state color */
  border-radius: 5px;
  transition: all 0.2s ease; /* Smooth transition for color change */
}

.bm-burger-bars.active {
  background: #a9a9a9; /* Grayed-out color when menu is open */
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: system) {
  html {
    color-scheme: dark;
  }
}



//BLOG

.article-wrapper{
  place-items: center;

  .header-title{
    text-align: center;
    border-bottom: 1px solid oklch(.928 .006 264.531);;
    margin-bottom: 30px;
    padding-bottom:30px;
    h1{
      font-size: 2.5rem;
      color: $header-color;
      text-transform: uppercase;

    }
    p{
      color: $text-color-light;
    }

    @media (max-width: 768px) {
      h1{
        font-size: 2.2rem;
      }
   }
  }
}


.markdown-content{
max-width: 1024px;
display: flex;
flex-direction: column;
margin: 20px;

p{
  margin-bottom: 2rem;
}
  p{
    color: $p-color;
    font-weight: 400;
    word-spacing: 0.5rem;
    text-align: left;
    text-align: justify;

    @media (max-width: 768px) {
      text-align: justify;
      word-spacing: unset;
   }
    
  }

  h1, h2{
    color: $header-color;
    margin-bottom: 1rem;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 1.2rem;
      text-align: center;
   }
   
  }

  h1{
    display: none;
  }

  a{
    color: $darker-primary-color;
    text-decoration: underline;
  }

  ul,li{
    margin-left: 30px ;
    margin-bottom: 1rem;
    @media (max-width: 768px) {
     margin-left: 10px;
  }
  }
}

//BLOG

.blog-image {
  width: 100%;              /* Slika zauzima punu širinu kontejnera */
  max-width: 1200px;        /* Ograničava maksimalnu širinu za veće ekrane */
  height: auto;             /* Visina se automatski prilagođava da očuva proporcije */
  max-height: 670px;        /* Ograničava maksimalnu visinu */
  object-fit: cover;        /* Osigurava da slika popuni prostor bez izobličenja */
  display: block;           /* Uklanja nepotrebne margine ispod slike */
  margin: 0 auto;           /* Centrira sliku horizontalno */
  border-radius: 8px;       /* Dodaje blagi zaobljeni ugao za estetiku (opciono) */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Dodaje suptilnu senku (opciono) */
  object-position: 0 10px;
  @media (max-width: 768px) {
    width: 90%;
 }
}



//SEARCH

.search-bar-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .loader-wrapper{
      margin-top: 10px;
      .loader{
          height: 25px !important;
          width: 25px !important;
      }
      
  }
}

#search-bar{
  @include flex-row();
  justify-content: center;
  margin-top: 100px;
  gap: 1rem;
  background-color: $gray-light !important;
  input{
      width:150px ;
  }
  @media screen  and (max-width: 810px){ 
      &{
          justify-self: center;
          margin: 0 auto;
          max-width: 250px;
          margin-top: 90px;
      }

      .search-bar-icon{
          background-color: #48AD7E;
          width: 78%;
          margin-left: 0;
          border-radius: 15px;
          padding: 10px;
          text-align: center;
       
          svg{
              display: none;
          }

          &:hover{
              background-color: #2D6A4F;
      
          }

          @media screen and (max-width:768px) {
            width: 90%;
          }
      }
      .search-bar-icon::before{
          content: 'Pretraži';
          text-align: center;
          margin: 0 auto;
          color: #fff;
          padding: 5px;
          color: #d9d2d2;
         
          
      }
  }

}

.search-bar-icon{
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  padding: 20px;
  border-radius: 0.7rem;
  background-color: #d9d2d2;
  transition: all 0.3s ease;
  svg{
      color: $text-color-headers !important;

  }

  &:hover{
      border-radius: 20px;
      background-color: $primary-color;
      svg{
          color:$text-color !important;
      }
  }
}

.mui-input{
  div{
      border-radius: 15px !important;
  }
  &.city{
      width: 205px;
  }
}
.time-pickers-container{
  @include flex-row();
  gap: 10px;
  .mui-time-picker{
      width: 170px;
  }
}

  .search-bar{
      background-color: #fff;
      width: fit-content;
      padding: 10px;
      border-radius: 15px;
      
  }


  // slider.module.scss


// Styles
.container-car-slider {
  display: flex;
  flex-direction: column;
  margin: 3rem 10%;
  max-width: 90vw;
  margin-top: 120px;
  justify-self: center;

  button {
    background-color: white;
    height: 25px;
    width: 25px;
    color: white !important;

    &::before {
      font-size: 25px;
      color: $darker-primary-color;
    }
  }

  @media screen and (max-width: 768px) {
    max-width: 80vw;
  }
}


.slider-container-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-height: 100px;
 

  img {
    max-height: 90%;
    max-width: 75%;
    align-self: center;
    justify-self: center;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
  }

  a:hover {
    h3 {
      text-decoration: underline;
    }
  }
}

//uklanja default strelice
.slick-arrow::before{
  display: none;
}

.h1 {
  color: $header-color !important;
  font-size: 2rem;
}

.p {
  color: $text-color-light;
  font-size: 1.2rem;
}

.gold-line {
  display: inline-block;
  width: 40px !important;
  height: 8px;
  background-color: #2D6A4F;
  border-radius: 5px;
  margin: 0 auto;
}

.section-container-h1-p {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 65%;
  margin: 2rem auto;
  place-items: center;
  align-self: center;

  h1 {
    font-size: 1.7rem;
  }



  @media screen and (max-width: 768px) {
    h1 {
      font-size: 1.1rem;
    }


    width: 100%;
  }
}


#search-cars-button{
  @include button-style-reverse(20px)

}

#goToBlogButton{
  @include button-style-reverse(15px)

}

#my-reservation-button{
  font-weight: 500;
}

.headerCarSlider{
  text-align: center !important;
  margin-top: 40px;
  color: $header-color-dark !important;
  font-size: 1.6rem;
}



