%box-shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
body{
  height: fit-content;

}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    @extend %box-shadow;
    @media screen and (max-width: 768px) {
        height: 90vh;
        gap: 10px;

      }
    

    p:nth-of-type(2){
        margin-bottom: 20px;
    }


    .reservation-form-input{
        margin-bottom: 1rem;
    }
    
    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    button {
        display: flex;            
        justify-content: center;  
       margin: 0 auto;        
    }
  

    button:disabled {
        background-color: #cccccc;
    }
    
    span,label,p{
        color: black;
    }

    .checkbox{
        display: flex;
        justify-content: flex-start;
    }

}

.selected-dates{
    font-size: 15px;
}


