//colors
$white-color:#fff;
$primary-color:#48AD7E;
$darker-primary-color:#2D6A4F;
$black-color: #081C15;
$light-primary:#99D6B5;
$yellow-color:#B69121;
$gray: #6b6b6b;
$text-color: #ebebeb;
$text-color-headers: #444;
$header-color: rgba(15, 23, 39, 0.85);
$text-color-light: rgba(15, 23, 39, 0.45);
$small-screen:768px;
$p-color:#535a5e;

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: system) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  place-items: center;
  margin-top: 5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: system) {
  html {
    color-scheme: dark;
  }
}

.article-wrapper{
  place-items: center;

  .header-title{
    text-align: center;
    border-bottom: 1px solid oklch(.928 .006 264.531);;
    margin-bottom: 30px;
    padding-bottom:30px;
    h1{
      font-size: 2.5rem;
      color: $header-color;
      text-transform: uppercase;
    }
    p{
      color: $text-color-light;
    }
  }
}

.markdown-content{
max-width: 1024px;
display: flex;
flex-direction: column;
margin: 20px;

p{
  margin-bottom: 2rem;
}
  p{
    color: $p-color;
    font-weight: 400;
    word-spacing: 0.5rem;
    text-align: left;
    text-align: justify;

    @media (max-width: 768px) {
      text-align: left;
   }
    
  }

  h1, h2{
    color: $header-color;
    margin-bottom: 1rem;
    text-transform: uppercase;
   
  }

  h1{
    display: none;
  }

  a{
    color: $darker-primary-color;
    text-decoration: underline;
  }

  ul,li{
    margin-left: 30px ;
    margin-bottom: 1rem;
    @media (max-width: 768px) {
     margin-left: 10px;
  }
  }
}


/* Globalni stilovi za react-burger-menu */

.bm-burger-button {
    display: none;
    position: absolute;
    width: 30px;
    height: 24px;
    left: 20px;
    top: 10px;
    margin-top: 5px;
    
    @media (max-width: 768px) {
        display: block; 
    }
   
}

.bm-item-list{
    display: flex;
    flex-direction: column;
    gap:1rem;
   

    a{
        color: white ;
        font-weight: bold;
    }
}

.bm-burger-bars {
    background: #373a47;
    background: $primary-color;
    border-radius: 5px;
}

.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size:1.5em;
    padding-left: 20px;
    display: none;
    @media (max-width: 768px) {
      display: block; 
  }
}

.bm-menu-item {
    color: white ;
    text-decoration: none;
    margin-bottom: 10px;
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}


