.find-reservation-container{
    display: flex;
    flex-direction: column;
    margin: 90px 20px;
    align-items: center;
    margin-bottom: 400px;
    margin-top: 200px;
    
    h1{
        align-self: center;
        margin-bottom: 20px;
    }

    h2{
        font-size: 22px;
    }

    ul{
        list-style: none;
    }

    li{
        margin-bottom: 5px;
    }

    .search-bar-button{
        display: flex;
        flex-direction: column;
        width: 30%;
    }
    @media screen and (max-width:768px) {
        margin-top: 90px;
        .search-bar-button{
            width: 100%;
        }
       
    }
}

.reservation-details-container{
    color: black;
    margin-top: 30px;
    place-items: center;
    display: flex;
    flex-direction: column;
}

#cancel{
    background-color: #d41f16;
    &:hover{
        border:  #d41f16;;
    }
}

.buttons{
    margin-top: 30px;
    button{
        margin: 10px;
    }

    @media screen and (max-width:768px) {
        button{
            width: 130px;
        }
    }
}

.reservation-info-table {
    width: 100%;
    border-collapse: collapse;
}

.reservation-info-table th, .reservation-info-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.reservation-info-table th {
    background-color: #f2f2f2;
    color: black;
}


.bold {
    font-weight: bold;
}