$primary-color:#48AD7E;


abbr{
    font-weight: 600;
}

abbr[title] {
    text-decoration: underline;
}

.react-calendar{
    border-radius: 15px;
   
}

.react-calendar__tile{
    margin-bottom: 10px !important;
}

.react-calendar__tile:disabled {

    background-color: #fff;
    abbr{
       opacity: 0.3;
       text-decoration: line-through;
    }
}

.react-calendar__tile--active {
    background-color: $primary-color !important;
    abbr{
        color: #fff !important;
     }
     &:hover{
        border-radius: 0 !important;
     }
}


button.react-calendar__tile--active:first-of-type {
  border-radius: 15px !important;
}

button.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart{
    border-radius: 15px 0 0 15px !important;
}

button.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeEnd{
    border-radius: 0 15px 15px 0 !important;  
}
button.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds{
    border-radius:  15px !important;  
}

.react-calendar__tile:enabled:hover{
    border-radius:  15px !important;  
}
.react-calendar__navigation__prev-button{
    border-radius: 15px 0 15px 0 !important;
}

.react-calendar__navigation__next-button{
    border-radius:0 15px 0 15px !important;
}

.react-calendar__navigation__label{


    &:hover{
        background-color: #fff !important;
    }
}

.alert-lib{
border-radius: 5px;    
}





