.cardNew {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 450px;
  text-align: center;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 2px solid transparent;
    border-radius: 10px;

  // @media screen and (max-width:1750px) {
  //     width: 350px;
  // }

  // @media screen and (max-width:1460px) {
  //     max-width: 300px;
  // }

  @media screen and (max-width:768px) {
      max-width: 350px;
  }

  &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

      .cardImageOverlayNew {
          background-color: rgba(0, 0, 0, 0.2);
      }
      &:hover{
        border-color: #48ad7e;
      }
  
  }

  &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 2px solid transparent;
      border-radius: 10px;
      transition: border-color 0.3s ease;
      pointer-events: none;
  }
}

.cardImageContainerNew {
  position: relative;
  width: 100%;
  padding-top: 75%;
  overflow: hidden;
  flex-shrink: 0;
}

.cardImageNew {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardImageOverlayNew {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease;
}

.cardTitleNew {
  margin: 5px 0 5px;
  font-size: 1.5em;
  color: #333;
  padding: 0 15px;
  flex-shrink: 0;
}

.cardPriceNew {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.2em;
  color: #48ad7e;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @media screen and (max-width:768px) {
      font-size: 1em;
  }
}

.cardSpecsNew {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
  flex-wrap: wrap;
  flex-grow: 1;
}

.specItemNew {
  background-color: #e0e0e0;
  border-radius: 16px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1em;
  color: #333;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;

  @media screen and (max-width:1440px) {
      font-size: 0.7em;
      padding: 5px 8px;
      gap: 5px;
  }

  @media screen and (max-width:768px) {
      font-size: 0.7em;
      padding: 8px 12px;
  }

  &:hover {
      background-color: #d0d0d0;
      transform: translateY(-2px);
  }
}
.specIconNew {
  width: 16px;
  height: 16px;
}