.backrop {
    position: fixed; /* Fiksira poziciju na ekranu umesto abosulte */
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #000000e1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
